@charset="utf-8";
body{
	background: #f3f1f1;
}
.oppen{
	width:35vw;
	position:fixed;
	right:-3vw;
	top:12vw;
	z-index:0;
	display:none;
	background: rgba(0,0,0,.8);
}
.oppen p{
	height:8vw;
	line-height:8vw;
	color:#fff;
	font-size:3.6vw;
	padding:1vw 0;
}
.oppen p span{
	font-size:5vw;
	margin:0 4vw;
}
.car{
	border-bottom:1px solid rgba(0,0,0,.5);
}
.car span{
	color:#f7782b;
}
.shou span{
	color:#f24a4a;
}
.bokxq{
	width:100vw;
	margin:0 auto;
	margin-top:13vw;
	padding:4vw 0;
	background: #fff;
}
.bxq_con{
	width:95vw;
	margin:0 auto;
	overflow:hidden;
}
.b_xq{
	width:95vw;
	margin:0 auto;
}
.bokxq .b_pic{
	width:30vw;
	float:left;
	margin-bottom:3vw;
}
.bk_xx{
	padding:3vw 0 5vw;
	width:60vw;
	float:right;
	margin-bottom:3vw;
		color:#888;
}


.bk_xx p{
	height:8vw;
	line-height:8vw;
}
.bookname{
	color:#f85050;
	margin-bottom:3vw;
}
.bokxq .b_pic img{
	width:100%;
	height: 100%;	
}

.bookcon{
	width:90vw;
	color:#333;
	line-height:6vw;
	margin:0 auto;
	display:block;
}
.morebtn{
	color:#1e996e;
	float:right;
	margin:0;

}
.position{
	margin-top:4vw;
	padding:3vw 0;
	background: #fff;
}
.position p{
	width:75vw;
	margin:0 auto;
	height:10vw;
	line-height:10vw;
	font-size:3.6vw;
}
.position .address{
	width:75vw;
	margin:0 auto;
	height:10vw;
	line-height:10vw;
	font-size:3.6vw;
	overflow:hidden;
}
.score{
	font-size:3vw;
	line-height:8vw;
}
.star span{
	color:#888;
	font-size:3.6vw;
}
.address .opt{
	float:left;
	width:15vw;
	display:block;
	padding-bottom:5000px;
	margin-bottom:-5000px;
}
.address .sda{
	 float:right;
	 width:56vw;
}
.Btn{
	width:50vw;
	height:10vw;
	line-height:10vw;
	background: #f85050;
	margin:8vw auto;
	text-align:center;
	border-radius: 7vw;
	-webkit-border-radius: 7vw;
	-o-border-radius: 7vw;
	-moz-border-radius: 7vw;
}
.Btn a{
	color:#fff;
	font-size:4.8vw;
	display:block;
}


.alert{
	padding:2vw 4vw;
	background: rgba(0,0,0,.7);
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-o-border-radius: 1vw;
	-moz-border-radius: 1vw;
	color:#fff;
	position: fixed;
	top:15vw;
	right:5vw;
    z-index:1;
	

}