@charset="utf-8";

body{
	width:100%;
	height:100%;
	background: #f3f1f1;
}
#wrapper {
	margin-top:14vw;
	position: relative;
	z-index: 1;
	height: 56vw;
	width: 100%;
	overflow: hidden;
	-ms-touch-action: none;
}

#scroller {
	position: absolute;
	z-index: 1;
	height: 56vw;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#scroller li {
	width: 33vw;
	height: 56vw;
	float: left;
	background: #fff;
	border-right:1px solid #ccc;
}
#scroller li:last-child{
	border-right-color:transparent;
}
.book_pic{
	width:26vw;
	overflow:hidden;
	margin:0 auto;
}
.book_pic img{
	width:100%;
	height:100%;
}
.book_tit{
	width:24vw;
	margin:0 auto;
	margin-top:3vw;
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	font-size: 3.6vw;
}
.book_tea{
	width:24vw;
	margin:1vw auto;
	text-align:center;
	color:#858584;
	white-space:nowrap;
	overflow:hidden;
}

.bk_l{
	width:100%;
	margin-top:2vw;
	background: #fff;
	padding-top: 2vw;

}
.bk_c{
	width:95vw;
	margin:2vw auto;
	overflow:hidden;
}
.bk_l ul li{
	width:100%;
	border-bottom: 1px solid #ccc;
	overflow:hidden;
}
.bk_l .h_t{
	width:94vw;
	height:4.8vw;
	padding:0 3vw;
	line-height:4.8vw;
}
.hot_tt{
	height:4.8vw;
	line-height:4.8vw;
	display:inline-block;
	color:#f64f5e;
	margin-left: 5vw;
	position:relative;
}
.hot_tt i{
	width:4.4vw;
	height:4.4vw;
	display:inline-block;
	position:absolute;
	top:0;
	left:-5vw;
}
.hot_tt i{
	background-image:url("../images/hot.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.bk_l ul li .bk_c .b_pic{
	width:26vw;
	overflow:hidden;
	float:left;
}
.b_pic img{
	width:100%;
	height:100%;
}
.bk_l ul li .bk_c .b_con{
	width:69vw;
	float:left;
}
.b_con p,.book_tt{
	padding-left: 4vw;
}
.b_tlt{
	font-size:3.6vw;
	color:#000;
	height:6vw;
	line-height:6vw;
	width:64vw;
	overflow:hidden;
}
.b_lder{
	font-size:3.2vw;
	color:#888;
	height:7vw;
	line-height:7vw;
}
.b_lder span{
	width:4vw;
	height:4vw;
	margin-right: 1vw;
	line-height:4vw;
	text-align:center;
	border-radius: 50%;
	color:#fff;
	background: #f4ae76;
	display:inline-block;
}
.book_tt{
	width:64vw;
	margin-top:6vw;
	overflow: hidden;
	text-overflow:ellipsis;
	color:#888;
	font-size:3.2vw;
}
.fin_more{
	width:100%;
	text-align:center;
	height:10vw;
	line-height:10vw;
	color:#000;
	background: #fff;
}
.pp_box{
	width:100%;
	margin-top:2vw;
	background: #fff;
	padding-top: 1vw;
}
.pp{
	width:95vw;
	margin:2vw auto;
	overflow:hidden;
}
.p_t{
	font-size:3.6vw;
	color:#000;
	margin-bottom: 2vw;
}

.p_t span{
	width:3.8vw;
	display:inline-block;
	transform:rotate(90deg);
	color:#0099CC;
}
.pp_pic{
	width:100%;
	margin-top:2vw;
}
.pp_pic img{
	width:100%;
	height:100%;
}

.ss ul li{
	width:31.6vw;
	float: left;
	margin-bottom:2vw;
}
.s_pic{
	width:26vw;
	overflow:hidden;
	margin:0 auto;
}
.s_pic img{
	width:100%;
	height:100%;
}
.s_tit{
	width:26vw;
	height:5.3vw;
	margin:0 auto;
	line-height:5.3vw;
	text-align:center;
	color:#666;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.Hot_con{
	padding-bottom: 13.3vw;
}
.waterfall ul {
	width:100%;
}