@charset="uft-8";
body{
	background: #f2f2f2;
}
.top{
	width: 100%;
	height:56vw;
	background:url(../images/newxq/n_bg.webp) center center no-repeat;
	background-size: 100%;
}
.top_tit{
	width: 100%;
	height:11.7vw;
	margin:0 auto;
	position:fixed;
	top:0;
	z-index: 999;
}
.top_tit p{
	width: 90vw;
	height:11.7vw;
	margin:0 auto;
	line-height: 11.7vw;
	text-align: center;
	font-size: 4.7vw;
	color:#fff;
	position: relative;
}
.top_tit p span{
	display:block;
	width: 5.3vw;
	height: 5.3vw;
	position:absolute;
	top:3.2vw;
	left:0;
	background: url(../images/back.png) center center no-repeat;
	background-size: 100%;

}
.top_tit p span a{
	display:block;
	width: 100%;
	height: 100%;
}
.fw_con{
	width: 95vw;
	margin:0 auto;
	overflow:hidden;
	padding-bottom: 15vw;
}
.fw_con ul li{
	width:100%;
	height:29vw;
	background: #fff;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-o-border-radius: 1vw;
	-mo-border-radius: 1vw;
	margin-top:3vw;
	padding: 1vw 0;
}
.n_xq{
	overflow:hidden;
}
.n_pic{
	width:24.5vw;
	height:18vw;
	float:left;
	margin:2vw;
	border:1px solid #ccc;
}
.n_pic a{
	width: 100%;
	height: 100%;
	display:block;
}
.n_pic img{
	width:100%;
	height: 100%;
}
._n_con{
	width:65vw;
	float:right;
}
.n_tit{
	height:6vw;
	width:66vw;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden; 
	line-height:6vw;
	font-size:3.6vw;
	color:#333;
	margin-top:1vw;
}
.n_time,.n_txt{
	color:#666;
	line-height:5vw;
}
.n_txt{
	width:66vw;
	height:9vw;
	line-height:4.5vw;
	display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}
.n_bum{
	width:100%;
	height:8vw;
}
.n_bum span{
	width:16.4vw;
	height:5vw;
	color:#666;
	line-height:5vw;
	margin:1.5vw 0;
	padding-left:15vw; 
	text-align:left;
	display:block;
	float:left;
	position:relative;
	border-right: 1px solid #ababab;

}
.n_bum span:last-child{
	border-right: none;
}
.n_bum span i{
	width:6vw;
	height:5vw;
	display:block;
	position:absolute;
	left:8vw;
}
.n_eye i{
	background: url(../images/newxq/1.png) center center no-repeat;
	background-size:100%;
}
.n_shc i{
	background: url(../images/newxq/2.png) center center no-repeat;
	background-size:100%;
}
.n_share i{
	background: url(../images/newxq/3.png) center center no-repeat;
	background-size:100%;
}