<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>朝阳图书馆</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/ind1.css">
	<link rel="stylesheet" href="css/appfoot.css">

	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
</head>
<body>
	<div class="top">
		<div class="t_bg" id="wrapper">
			<div id="scroller">
				<ul  class="swiper-wrapper">
					<li class="swiper-slide" >
						<img src="images/bg1.webp" alt="">
					</li>
					<li class="swiper-slide">
						<img src="images/bg2.webp" alt="">
					</li>
					<li class="swiper-slide">
						<img src="images/bg3.webp" alt="">
					</li>
					<li class="swiper-slide">
						<img src="images/bg4.webp" alt="">
					</li>	
					<li class="swiper-slide">
						<img src="images/bg5.webp" alt="">
					</li>	
					<li class="swiper-slide">
						<img src="images/bg6.webp" alt="">
					</li>									
				</ul>
			</div>
		</div>
		<div class="S_input">
			<div class="Imput">
				<span><i class="fa fa-search" class="I_l"></i></span>
				<input type="text" value="我的前半生" id="input" readonly="readonly" onclick="window.open('Sou_lit.html')">
				<span><i class="fa fa-camera-retro" class="I_r"></i></span>
			</div>
		</div>
		
	</div>
	<div class="nav">
		<div class="con">
			<span><a href=""><img src="images/1.png" alt=""></a></span>
			<p>图书分类</p>
		</div>
		<div class="con">
			<span><a href="fuwumid.html"><img src="images/2.png" alt=""></a></span>
			<p>服务中心</p>
		</div>
		<div class="con">
		    <span><a href="newlist.html"><img src="images/3.png" alt=""></a></span>
			<p>新闻资讯</p>
		</div>
		<div class="con">
			<span><a href="Lecture.html"><img src="images/4.png" alt=""></a></span>
			<p>讲座活动</p>
		</div>
	</div>

	<div class="bk_con">	
		<div class="hot_bk">
			<p class="h_t">
				<span class="hot_tt"><i></i>热门推荐</span>
				<span class="hot_more"><a href="Hot_bok.html" style="display:block;">更多 <i class="fa fa-angle-right"></i></a></span>
			</p>
			<div class="wrapper">
				<div class="scroller1">
					<ul>
						<li v-for="Hot in Hots">
							<div class="book_pic"><a href="bookxq.html"><img v-bind:src="Hot.icon" alt=""></a></div>
							<p class="book_tit">{{Hot.title}}</p>
						</li>									
					</ul>
				</div>
			</div>
		</div>

		<div class="hot_bk new_bk">
			<p class="h_t">
				<span class="hot_tt new_tt"><i></i>新书推荐</span>
				<span class="hot_more">更多 <i class="fa fa-angle-right"></i></span>
			</p>
			<div id="hot_b2" class="hot_b2">
				<div id="scrol2" class="scrol2">
					<ul>
						<li v-for="New in News">
							<div class="book_pic"><a href="bookxq.html"><img v-bind:src="New.icon" alt=""></a></div>
							<p class="book_tit">{{New.title}}</p>
						</li>									
					</ul>
				</div>
			</div>
		</div>

		<div class="hot_bk read_bk">
			<p class="h_t">
				<span class="hot_tt read_tt"><i></i>读者推荐</span>
				<span class="hot_more">更多 <i class="fa fa-angle-right"></i></span>
			</p>
			<div id="hot_b2" class="hot_b2">
				<div id="scrol2" class="scrol2">
					<ul>
						<li v-for="Read in Reads">
							<div class="book_pic"><a href="bookxq.html"><img v-bind:src="Read.icon" alt=""></a></div>
							<p class="book_tit">{{Read.title}}</p>
						</li>									
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="foot">
		<ul>
			<li class="act"><a href="ind1.html">
				<div><i></i></div>
				<p>首页</p>
			</a></li>
			<li><a href="message.html">
				<div><i></i></div>
				<p>消息</p>
			</a></li>
			<li><a href="">
				<div><i></i></div>
				<p>馆藏查询</p>
			</a></li>
			<li><a href="">
				<div><i></i></div>
				<p>清单</p>
			</a></li>
			<li><a href="Person.html">
				<div><i></i></div>
				<p>我的</p>
			</a></li>
		</ul>

	</div>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
			 var S_input=$(".S_input");
			 var Imput=$(".Imput");
			 var B_top=$(".top").height();
				// console.log(parseInt(S_input.css('top') ))

			$(document).on("scroll",function(){
				var Top=$("body").scrollTop();
				if(Top>=B_top-S_input.height()){

					S_input.css("background","#fff");
					Imput.css("background","rgba(244,31,14,.3)" )
						
					  
					Imput.css({
						height:"7.8vw",
						width:"79vw"
					})


					
				}else{
					S_input.css("background","transparent");
					Imput.css("background","rgba(228,226,221,.7)")
					Imput.css({
						height:"8vw",
						width:"80vw"
					})
				}
		
		})
   		$(document).ready(function () {
　　      

		 var mySwiper = new Swiper("#scroller",{ 
	        loop:true,  
	        pagination:".swiper-pagination", 
	        // prevButton:".swiper-button-prev",  
	        // nextButton:".swiper-button-next",
	        paginationClickable: true, 
	        spaceBetween: 0,
	        autoplayDisableOnInteraction : false,
	        autoplay:3000/*每隔3秒自动播放*/  
         })  
		
			var con_len=$("#scroller").find("li");
			var con_len1=$(".scroller1").find("li");
			var con_len2=$(".scrol2").find("li");


			var W=$(window).width();
				$("#scroller").css({
					"width":con_len.length*(con_len.width())
			   

				});
				$(".scroller1").css({
					"width":con_len.length*(con_len.width())
			   

				});
					$(".scrol2").css({
					"width":con_len.length*(con_len.width())
			   

				})
				  
		})
	
	</script>
	<script type="text/javascript" src="js/json.js"></script>
	<script type="text/javascript">
	new Vue({
		el:".bk_con",
		data:data
	})
	</script>
</body>
</html>